## The third In-class-exercise (10/06/2022, 40 points in total)

The purpose of this exercise is to understand text representation.

Question 1 (10 points): Describe an interesting text classification or text mining task and explain what kind of features might be useful for you to build the machine learning model. List your features and explain why these features might be helpful. You need to list at least five different types of features.

In [34]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''

Fraud Profanity & Online Abuse Detection Detecting Trends in Customer Feedback Urgency Detection in Customer Support and Sentimental analysis where these are the most 
useful tasks to solve the business or organization problems

1) N grams
2) Word2vec features
3) Entity features
4) Detections
5) Frequency terms


'''

'\nPlease write you answer here:\n\n\n\n\n\n'

Question 2 (20 points): Write python code to extract these features you discussed above. You can collect a few sample text data for the feature extraction.

In [35]:
import nltk
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests as rq
import matplotlib.pyplot as plt
import nltk
from wordcloud import WordCloud
from nltk.corpus import stopwords

In [36]:
# Reviews related to the film industry 

url = 'https://www.imdb.com/title/tt4435072/reviews?ref_=tt_ov_rt'

#Storing the reviews into a dataframe
df = pd.DataFrame(columns=['Review'])
req = rq.get(url).text
soup = bs(req,'html.parser')

#collecting reviews as text
reviews_text = soup.find_all('div', attrs={'class' : 'text show-more__control'})

#taking a empty list initially
review_list = []
for i in range(len(reviews_text)):
    review_list.append(reviews_text[i].get_text())

#assigining list of reviews to the data frame    
df['Review'] = review_list

df['word_count'] = df['Review'].apply(lambda x: len(str(x).split(" ")))
df[['Review','word_count']].head()

                                              Review  word_count
0  This film is great tool to get confession out ...          47
1  Watch clouds moving in sky, cars running on ro...          27
2  The movie is boring with a predictable story a...          85
3  No proper story\nHero faltu characterisation\n...          42
4  A movie with actors such as Ananya Pandey & Vi...          55

In [37]:
df['char_count'] = df['Review'].str.len() ## including spaces
df[['Review','char_count']].head()

                                              Review  char_count
0  This film is great tool to get confession out ...         245
1  Watch clouds moving in sky, cars running on ro...         151
2  The movie is boring with a predictable story a...         466
3  No proper story\nHero faltu characterisation\n...         261
4  A movie with actors such as Ananya Pandey & Vi...         284

In [38]:
# StopWords

from nltk.corpus import stopwords

import nltk
nltk.download('stopwords')
stop = stopwords.words('english')

df['stopwords'] = df['Review'].apply(lambda x: len([x for x in x.split() if x in stop]))
df[['Review','stopwords']].head()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                              Review  stopwords
0  This film is great tool to get confession out ...         21
1  Watch clouds moving in sky, cars running on ro...         10
2  The movie is boring with a predictable story a...         34
3  No proper story\nHero faltu characterisation\n...         13
4  A movie with actors such as Ananya Pandey & Vi...         23

In [39]:
df['hastags'] = df['Review'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
df[['Review','hastags']].head()

                                              Review  hastags
0  This film is great tool to get confession out ...        0
1  Watch clouds moving in sky, cars running on ro...        0
2  The movie is boring with a predictable story a...        0
3  No proper story\nHero faltu characterisation\n...        0
4  A movie with actors such as Ananya Pandey & Vi...        0

In [40]:
df['numerics'] = df['Review'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
df[['Review','numerics']].head()

                                              Review  numerics
0  This film is great tool to get confession out ...         0
1  Watch clouds moving in sky, cars running on ro...         0
2  The movie is boring with a predictable story a...         0
3  No proper story\nHero faltu characterisation\n...         1
4  A movie with actors such as Ananya Pandey & Vi...         0

In [41]:
df['upper'] = df['Review'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
df[['Review','upper']].head()

                                              Review  upper
0  This film is great tool to get confession out ...      0
1  Watch clouds moving in sky, cars running on ro...      0
2  The movie is boring with a predictable story a...      0
3  No proper story\nHero faltu characterisation\n...      0
4  A movie with actors such as Ananya Pandey & Vi...      2

Question 3 (10 points): Use any of the feature selection methods mentioned in this paper "Deng, X., Li, Y., Weng, J., & Zhang, J. (2019). Feature selection for text classification: A review. Multimedia Tools & Applications, 78(3)." Select the most important features you extracted above, rank the features based on their importance in the descending order.

In [42]:
txt_classification = (df['Review'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
txt_classification.columns = ['words','tf']
txt_classification

              words  tf
0              even   2
1              this   2
2             Watch   1
3            better   1
4            cringe   1
5                of   1
6               way   1
7              half   1
8               sit   1
9          couldn't   1
10  movie.Literally   1
11             than   1
12               tp   1
13               be   1
14           clouds   1
15             will   1
16             that   1
17             road   1
18               on   1
19          running   1
20             cars   1
21             sky,   1
22               in   1
23           moving   1
24           movie.   1

In [43]:
import numpy as np

for i,word in enumerate(txt_classification['words']):
    txt_classification.loc[i, 'idf'] = np.log(df.shape[0]/(len(df[df['Review'].str.contains(word)])))

txt_classification

              words  tf       idf
0              even   2  1.427116
1              this   2  0.733969
2             Watch   1  3.218876
3            better   1  1.427116
4            cringe   1  2.120264
5                of   1  0.223144
6               way   1  1.832581
7              half   1  2.120264
8               sit   1  2.525729
9          couldn't   1  3.218876
10  movie.Literally   1  3.218876
11             than   1  1.427116
12               tp   1  3.218876
13               be   1  0.385662
14           clouds   1  3.218876
15             will   1  1.609438
16             that   1  0.733969
17             road   1  3.218876
18               on   1  0.083382
19          running   1  3.218876
20             cars   1  3.218876
21             sky,   1  3.218876
22               in   1  0.040822
23           moving   1  3.218876
24           movie.   1  0.328504