<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [5]:
# Your code here

import random
def Average(lst):
    return sum(lst) / len(lst)
randomlist1 = random.sample(range(1, 100), 12)
print("Random List :",randomlist1)

#Ascending order
randomlist1.sort()
print("Ascending Order List :",randomlist1)

#DecendingOrder
randomlist1.sort(reverse=True)

print("Decending Order List :",randomlist1)
print("Average for List :\n",Average(randomlist1))

Random List : [49, 67, 32, 16, 1, 3, 54, 83, 39, 52, 74, 86]
Ascending Order List : [1, 3, 16, 32, 39, 49, 52, 54, 67, 74, 83, 86]
Decending Order List : [86, 83, 74, 67, 54, 52, 49, 39, 32, 16, 3, 1]
Average for List :
 46.333333333333336

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [6]:
# Ask the user to enter two sentences and  Make each sentence into a list.
import re

print("Enter two sentences")
sentence_one = input("Enter the first sentence: ")
sentence_two = input("Enter the second sentence: ")

first_list= re.findall(r"[\w']+|[^\w\s]", sentence_one)
print (first_list)
second_list= re.findall(r"[\w']+|[^\w\s]", sentence_two)
print (second_list)

Enter two sentences
Enter the first sentence: My name is Shylesh
Enter the second sentence: Your last name?
['My', 'name', 'is', 'Shylesh']
['Your', 'last', 'name', '?']

In [7]:
#Compare the two sentences. Print out a list of words that occur in both sentences.

common_terms = []
for ele in second_list:
  if ele in first_list:
    common_terms.append(ele)
print(common_terms)

['name']

In [8]:
#Remove any punctuation from the sentence and print it back out.

Punctuations = ''''!()-[]{};:'"\,<>./?@#$%^&*_~'''

without_punctuation = ""
for var_1 in sentence_one:
  for char in var_1:
    if char not in Punctuations:
         without_punctuation = without_punctuation + char
print(without_punctuation)

without_punctuation_1 = ""
for var_2 in sentence_two:
  for char in var_2:
    if char not in Punctuations:
         without_punctuation_1 = without_punctuation_1 + char
print(without_punctuation_1)

My name is Shylesh
Your last name

In [9]:
#Count the number of vowels in the sentences

vowels = 'aeiou'
count_vowels = {}.fromkeys(vowels,0)

for var_one in sentence_one:
  for char in var_one:
     if char in count_vowels:
         count_vowels[char] += 1
print(count_vowels)

for var_two in sentence_two:
  for char in var_two:
     if char in count_vowels:
         count_vowels[char] += 1
print(count_vowels)

{'a': 1, 'e': 2, 'i': 1, 'o': 0, 'u': 0}
{'a': 3, 'e': 3, 'i': 1, 'o': 1, 'u': 1}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [11]:
def volume_sphere(rad, pi = 3.1415926535897931):
  return (4/3) * pi * (rad ** 3)

print('rad   v')
for a in range(10):
  print (str(a) +" " +str(volume_sphere(a)))

rad   v
0 0.0
1 4.1887902047863905
2 33.510321638291124
3 113.09733552923254
4 268.082573106329
5 523.5987755982989
6 904.7786842338603
7 1436.7550402417319
8 2144.660584850632
9 3053.6280592892786

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [17]:
import pandas 
import statistics
denton_df = pd.read_csv('/content/sample_data/Assignment1_denton_housing.csv')
opd_df = denton_df[denton_df['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])
opd_df.value.diff().sort_values()

17    -795.0
11    -303.0
8     1404.0
5     1565.0
2     2622.0
14    5091.0
20       NaN
Name: value, dtype: float64

In [18]:
vacancy_list = denton_df[denton_df['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])['value']

occupied_list= denton_df[denton_df['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])['value']

total_list = denton_df[denton_df['title_field'] == 'Total Housing Units'].sort_values(by=['year'])['value']

year = denton_df[denton_df['title_field'] == 'Total Housing Units'].sort_values(by=['year'])['year']
Vacant = [str((vacant/total)*100)+' %' for vacant,total in zip(vacancy_list,total_list)]
occupied = [str((occupied/total)*100)+' %' for occupied, total in zip(occupied_list, total_list)]
results_df = pd.DataFrame(list(zip(year,Vacant, occupied)), columns =['Year','Vacant Housing Units', 'Occupied Housing Units'])
results_df

   Year Vacant Housing Units Occupied Housing Units
0  2008  10.88265281351653 %    89.11734718648347 %
1  2009   9.07111572444872 %    90.92888427555128 %
2  2010  8.142556337081672 %    91.85744366291833 %
3  2011  9.379522229890688 %     90.6204777701093 %
4  2012  6.677600230491346 %    93.32239976950866 %
5  2013  8.801787504176412 %    91.19821249582358 %
6  2014  5.730110570363885 %    94.26988942963611 %

In [19]:
vacant_df = denton_df[denton_df['title_field'] == 'Vacant Housing Units']
Max_difference= pd.concat([opd_df[opd_df['value'] == opd_df['value'].max()],vacant_df[vacant_df['value'] == vacant_df['value'].max()]])
print(Max_difference[['title_field','year','value']])

               title_field  year  value
2   Occupied Housing Units  2014  46295
19    Vacant Housing Units  2008   4483

In [21]:
print('Harmonic mean  is {0}'.format(statistics.harmonic_mean(total_list)))

Harmonic mean  is 44398.28543969185